<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>To-Do List</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash-messages">
                {% for message in messages %}
                    <div class="alert">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <form action="/add" method="post">
            <input type="text" name="task" placeholder="Enter a task" required>
            <input type="date" name="date">
            <button type="submit">Add</button>
        </form>

    </header>

    <div class="container">
        {% for task in tasks %}
            <div class="task">
                {% if task['completed'] %}
                    <s class="task-text">{{ task['title'] }}</s>
                {% else %}
                    <form action="/edit/{{ task['id'] }}" method="post" class="edit-form">
                        <input type="text" name="task_edit" value="{{ task['title'] }}" required class="edit-input">
                        <input type="date" name="date_edit" value="{{ task['due_date'] }}" class="edit-date">
                        <button type="submit" class="edit-btn">✏️ Edit</button>
                    </form>                        

                    <form action="/complete/{{ task['id'] }}" method="POST">
                        <button class="complete-btn" type="submit">✅</button>
                    </form>
                {% endif %}
                <form action="/delete/{{ task['id'] }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this task?')">
                    <button class="delete-btn" type="submit">❌</button>
                </form>
            </div>
        {% endfor %}
        
        {% if tasks|length > 0 %}
            <form action="/clear" method="POST">
                <button type="submit">Clear All</button>
            </form>
        {% endif %}
    </div>    
</body>
</html>